@page "/cascading-parameters-state-changes"
@using Blazor.Wasm.Examples.Components.CascadingParametersStateChanges.StateChangeParent

<PageTitle>Cascading Parameters State Changes</PageTitle>

<h1>Cascading Parameters State Changes</h1>

<p>
    This page demonstrates how component state using cascading parameters is updated. 
    <ul>
        <li>
            Changes to state from a PARENT component will cause the child to be re-rendered automatically.
        </li>
        <li>
            Changes to state from a CHILD component will NOT cause the parent to be re-rendered automatically.
        </li>
    </ul>

</p>

<hr/>

<StateChangeParent></StateChangeParent>