@page "/cascading-parameters"
@using Blazor.Wasm.Examples.Components.CascadingParameters.Parent

<PageTitle>Cascading Parameters</PageTitle>

<h1>Cascading Parameters</h1>

<p>
This page demonstrates a component with a cascading parameter, and use with parent, child, sibling and grandchild.
</p>

<hr/>

<Parent></Parent>