@page "/content-projection"
@using Blazor.Wasm.Examples.Components.ContentProjection.ParentExample

<PageTitle>Content Projection</PageTitle>

<h1>Content Projection</h1>

<p>
This page demonstrates two forms of content projection, single and multi-slot.
</p>

<hr/>

<ParentExample></ParentExample>