@page "/generic-callback"
@using Blazor.Wasm.Examples.Components.GenericCallbackExample.WrapperInConsumingApp

<PageTitle>Generic Callback</PageTitle>

<h1>Generic Callback</h1>

This page demonstrates a callback function declared in the host and given to the component to invoke with its data.

<WrapperInConsumingApp></WrapperInConsumingApp>