@inherits ParametersStateChangeChildComponent 

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Parameter Child</h3>

        <h4>@SimpleParameterFromParent</h4>
    </div>
</div>