@inherits ParentRenderOrderComponent
@using Blazor.Wasm.Examples.Components.RenderOrder.ChildRenderOrder

<h3>Parent Render Order Component</h3>

<ChildRenderOrder Name="Child 1"></ChildRenderOrder>

<ChildRenderOrder Name="Child 2"></ChildRenderOrder>