@inherits ChildRenderOrderComponent
@using Blazor.Wasm.Examples.Components.RenderOrder.GrandChildRenderOrder

<h4>@Name Render Order Component</h4>

<GrandChildRenderOrder Name="Grandchild"></GrandChildRenderOrder>