@inherits ParameterChildComponent

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Parameter Child</h3>

        <ul>
            <li>@OptionalInputParameter</li>
            <li>@RequiredInputParameter</li>
            <li>@AdditionalAttributes["AnyCustomHtml5Attribute"]</li>
        </ul>
        
    </div>
</div>